body{
    background-image: url(../imagens/fundo\ 123.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color: #f3f3f3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
}

.cartao .cargo{
    font-size: 15px;
    font-style: 'VT323', monospace;
}

.cartao{
    background-color: #070d12;
    width: 370px;
    border: 3px solid #54bbf7;
    border-radius: 10px;
    overflow: hidden;
}

.cartao .minhas-informacoes{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img{
    border-radius: 80px;
    border: 2px solid #54bbf7;
    width: 110px;
    height: 110px;
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 20px color #b8bbc5;
}

.cartao .conteudo{
    background-color:;
    margin-top: 15px;
}

.cartao .conteudo .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: backgroud-color 0.2s ease-in-out;
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionado{
    background-color: #262626;
}

.cartao .informacoes-abas{
background-color: #262626;
}

.cartao .abas .aba:hover{
    background-color: #414141;
}

.informacoes-abas .informacao{
    min-height: 180px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .informacao .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.informacoes-abas .informacao{
   font-size: 22px;
   margin-bottom: 25px;
   text-align: center;
}

.informacoes-abas .descricao span{
    color: #54bbf7;
}

.redes-sociais{
    max-height: 180px;
    overflow-y: auto;
}

.redes-sociais .curriculo{
    background-color: #54bbf7;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    color: aliceblue;
    border: 2px solid;
    border-radius: 10px;
}

.redes-sociais .linkedin{
    background-color: #150b6d;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    color: aliceblue;
    border: 2px solid;
    border-radius: 10px;
}

.redes-sociais .github{
    background-color: #838383;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    color: aliceblue;
    border: 2px solid; 
    border-radius: 10px;
}

.redes-sociais li a:hover{
    opacity: 0.8;
}



